.common__section {
    background: linear-gradient(#212245b2, #212245b2),
      url("https://img.freepik.com/premium-photo/organic-food-background-vegetables-basket_135427-233.jpg?size=626&ext=jpg&ga=GA1.2.1145224334.1665120416&semt=ais");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 170px 0px;
    margin-top: 10px;
    border-radius: 8px;
  }

  .text-white{
    font-weight: 900;
  }